In [1]:
import pandas as pd
df = pd.read_csv("fifa21_train.csv")
import functions2

In [2]:
functions2.clean_data(df)

,ID,Age,Height,Weight,Growth,Value,Attacking,Crossing,Finishing,Heading Accuracy,...,GK_83+0,GK_83+2,GK_83+3,GK_84+1,GK_84+2,GK_84+3,GK_85+2,GK_88+3,GK_9+2,OVA
0,0.711626,0.370370,0.40,0.349206,0.074074,0.005833,0.556931,0.545455,0.478261,0.431818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64
1,0.725758,0.518519,0.55,0.333333,0.037037,0.094444,0.821782,0.681818,0.826087,0.806818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,77
2,0.711811,0.629630,0.15,0.134921,0.037037,0.100000,0.750000,0.761364,0.793478,0.329545,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,80
3,0.902364,0.222222,0.45,0.277778,0.518519,0.003056,0.517327,0.431818,0.423913,0.602273,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,59
4,0.906235,0.259259,0.50,0.261905,0.333333,0.008056,0.534653,0.488636,0.369565,0.636364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11696,0.897376,0.333333,0.60,0.404762,0.222222,0.006944,0.472772,0.636364,0.228261,0.522727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,65
11697,0.828575,0.407407,0.60,0.452381,0.185185,0.017778,0.126238,0.068182,0.119565,0.090909,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,70
11698,0.854858,0.222222,0.25,0.206349,0.333333,0.012222,0.626238,0.659091,0.684783,0.522727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67
11699,0.566233,0.370370,0.65,0.492063,0.296296,0.000000,0.547030,0.659091,0.684783,0.522727,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,68
11700,0.912828,0.222222,0.30,0.206349,0.370370,0.007778,0.633663,0.420455,0.663043,0.681818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64

In [3]:
df.head()

,ID,Name,Age,Nationality,Club,BP,Position,Team & Contract,Height,Weight,...,CDM,RDM,RWB,LB,LCB,CB,RCB,RB,GK,OVA
0,184383,A. Pasche,26,Switzerland,FC Lausanne-Sport,CM,CM CDM,FC Lausanne-Sport 2015 ~ 2020,"5'9""",161lbs,...,59+1,59+1,59+1,58+1,54+1,54+1,54+1,58+1,15+1,64
1,188044,Alan Carvalho,30,China PR,Beijing Sinobo Guoan FC,ST,ST LW LM,"Beijing Sinobo Guoan FC Dec 31, 2020 On Loan","6'0""",159lbs,...,53+2,53+2,57+2,53+2,48+2,48+2,48+2,53+2,18+2,77
2,184431,S. Giovinco,33,Italy,Al Hilal,CAM,CAM CF,Al Hilal 2019 ~ 2022,"5'4""",134lbs,...,56+2,56+2,59+2,53+2,41+2,41+2,41+2,53+2,12+2,80
3,233796,J. Evans,22,Wales,Swansea City,CDM,CDM CM,Swansea City 2016 ~ 2021,"5'10""",152lbs,...,58+2,58+2,56+2,57+2,58+2,58+2,58+2,57+2,14+2,59
4,234799,Y. Demoncy,23,France,US Orléans Loiret Football,CDM,CDM CM,US Orléans Loiret Football 2018 ~ 2021,"5'11""",150lbs,...,64+2,64+2,64+2,63+2,61+2,61+2,61+2,63+2,15+2,65

In [5]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,predictions_test)
mse

NameError: name 'y_test' is not defined